.login-wrapper>form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 14px;
}

#login-form>input {
    width: 100%;
    height: 30px;
    padding: 5px;
    border: 2px solid var(--bg-tertiary);
    transition: 300ms;
    background: var(--bg-primary);
    color: var(--text-primary);
}

#login-form>input:focus {
    border-color: var(--accent-primary);
}

.login-wrapper>form>button {
    color: var(--button-primary-text);
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: var(--button-primary-bg);
    text-align: center;
    height: 40px;
    width: 100%;
    cursor: pointer;
    border: none;
}

.login-wrapper>a {
    color: var(--text-secondary);
    text-decoration: none;
}