.pulsecontent-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-top: 10px;
    width: 60vw;
    height: 100%;
    gap: 30px;
    background: var(--bg-primary);
    position: relative;
}

.pulsecontent-loading {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    padding: 24px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-secondary);
}

.pulsecontent-card {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    border: 1px solid var(--border-primary);
    padding: 18px;
}

.pulsecontent-card:hover {
    transform: translateY(-2px);
    transition: 150ms;
    cursor: pointer;
}

.pulsecontent-card>p {
    color: var(--text-muted);
    font-size: 12px;
}

.pulsecontent-card>h4 {
    color: var(--accent-primary);
    font-size: 20px;
}

.pulsecontent-cardimage {
    width: 400px;
    position: relative;
}

.pulsecontent-cardimage>div {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: var(--accent-primary);
    padding: 4px 8px;
    font-size: 12px;
    color: white;
    font-weight: 700;
}

.pulsecontent-cardimage>img {
    width: 100%;
    height: 228px;
}

.pulsecontent-pagination {
    position: absolute;
    left: 43%;
    bottom: -100px;
}