.agepage-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-secondary);
}

.agepage-text-button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.content-restricted-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: 1px solid var(--accent-transparent-30);
    border-radius: 9999px;
    padding: 8px 16px 8px 16px;
    background-color: var(--accent-transparent-05);
}

.content-restricted-wrapper>svg {
    color: var(--accent-primary);
    width: 20px;
    height: 20px;
}

.content-restricted-wrapper>span {
    color: var(--accent-primary);
    font-size: 15px;
    font-weight: 800;
    text-transform: uppercase;
    font-family: "Playfair Display", serif;
    letter-spacing: 1px;
}

.agepage-text-button-wrapper>h1 {
    font-family: "Playfair Display", serif;
    font-size: 128px;
    text-transform: uppercase;
    font-weight: 900;
    text-align: center;
    width: 80%;
    color: var(--text-primary);
}

.agepage-text-button-wrapper>p {
    font-family: "Playfair Display", serif;
    font-size: 20px;
    width: 60%;
    text-align: center;
    color: var(--text-primary);
}

.agepage-buttons-wrapper {
    display: inline-flex;
    gap: 16px;
}

.agepage-buttons-wrapper>button:nth-child(1) {
    background-color: var(--accent-primary);
    padding: 16px 32px 16px 32px;
    color: var(--text-primary-invert);
    font-size: 18px;
    font-family: "Playfair Display", serif;
    cursor: pointer;
    transition: 300ms;
}

.agepage-buttons-wrapper>button:nth-child(1):hover {
    background-color: var(--button-primary-bg);
    color: var(--button-primary-text);
}

.agepage-buttons-wrapper>button:nth-last-child(1) {
    color: var(--text-quaternary);
    padding: 16px 32px 16px 32px;
    font-size: 18px;
    font-family: "Playfair Display", serif;
    background-color: var(--button-secondary-bg);
    border: 1px solid var(--border-primary);
}

.agepage-buttons-wrapper>button:nth-last-child(1):hover {
    color: var(--text-primary);
}

.agepage-text-button-wrapper>span {
    color: var(--text-quaternary);
    font-size: 13px;
    text-align: center;
    width: 40%;
}
