.footer-wrapper {
    display: flex;
    width: 100%;
    height: 15vh;
    background-color: var(--bg-primary);
    justify-content: center;
    align-items: center;
    border-top: 1px solid var(--border-primary);
}

.footeritems-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.footertext {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footertext>h4 {
    font-size: 24px;
    font-weight: 700;
    color: var(--text-primary);
}

.footertext>p {
    font-size: 12px;
    color: var(--text-muted);
}

.footernavlink {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.footernavlink>a {
    font-size: 14px;
    color: var(--text-quaternary);
    font-weight: 600;
    transition: 300ms;
}

.footernavlink>a:hover {
    color: var(--text-primary);
    transition: 150ms;
}