.auth-layout {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.authl-text-buttons-wrapper {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    gap: 20px;
    width: auto;
}

.authl-text-buttons-wrapper>h2 {
    color: var(--text-secondary);
    font-size: 60px;
    font-style: normal;
    font-weight: 550;
    font-family: "Playfair Display", serif;
    letter-spacing: 1px;
}

.authl-text-buttons-wrapper>span {
    width: 452px;
    color: var(--text-quaternary);
    font-family: "Playfair Display", serif;
    font-size: 18px;
    font-weight: 500;
}

.authl-buttons-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.authl-buttons-wrapper>button {
    background-color: var(--button-secondary-bg);
    border: 1px solid var(--border-primary);
    display: flex;
    gap: 16px;
    padding: 16px;
    cursor: pointer;
    font-weight: 400;
    align-items: center;
    color: var(--text-primary);
    font-size: 15px;
    font-family: "Playfair Display", serif;
    transition: 0.5s;
}

.authl-buttons-wrapper>button:hover {
    border-color: var(--text-primary);
    transition: 0.5s;
}

.authl-buttons-wrapper>button>svg {
    color: var(--text-muted);
}

.auth-right {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-tertiary);
    height: 60%;
    border: 2px solid var(--bg-tertiary);
}

.login-wrapper {
    background-color: var(--bg-primary);
    border: 2px solid var(--border-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 24px;
    gap: 16px;
    width: 264px;
    transform: translate(0, 0) rotate(3deg) skewX(0) skewY(0) scaleX(1) scaleY(1);
    transition-property: transform;
    transition: 0.5s;
}

.login-wrapper:hover {
    transform: translate(0,0) rotate(0);
    transition-property: transform;
    transition: 0.5s;
}

.login-wrapper>div:nth-child(1) {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--accent-primary);
    border-radius: 9999px;
    color: var(--text-primary-invert);
}

.login-wrapper>div:nth-child(2) {
    background-color: var(--bg-tertiary);
    width: 75%;
    height: 8px;
    border-radius: 8px;
}

.login-wrapper>div:nth-child(3) {
    background-color: var(--bg-tertiary);
    width: 50%;
    height: 8px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.login-wrapper>button {
    color: var(--text-primary-invert);
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: var(--button-primary-bg);
    text-align: center;
    height: 40px;
    width: 100%;
    cursor: pointer;
}
